.overview-card {
    background-color: #252547;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
  }
  
  .overview-card h3 {
    color: #6c6c91;
  }
  
  .overview-card p {
    margin: 5px 0;
  }
  
  .positive {
    color: #1db489;
  }
  
  .negative {
    color: #dc414c;
  }